body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #000000;
    font-family: Arial, sans-serif;
    overflow: hidden;
}
.container {
    position: relative;
    text-align: center;
    font-size: 2rem;
    width: 75%;
    animation: moveUp 4s ease-in-out 1 forwards;
    overflow: hidden;
}

img {
    height: 200px;
}

@keyframes moveUp {
    0% {opacity:0;top:0}
    50% {opacity: 1;top:0;}
    100% {opacity:1;top: -20%;}
}

.name {
    color: #4185f3;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    font-size: 4rem;
}

.l1, .l2, .r1, .r2, .m1 {
    width: 100px;
    position: absolute;
    animation: sequential 4.5s ease-in-out 1s forwards;
    opacity: 0%;
    top: 50%;
    font-size: 2rem;
}

.icons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    position: absolute;
    top: 50%;
    left: 48%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.icons-container i {
    color: #4185f3;
    font-size: 5.5rem;
}

a {
    position: absolute;
    left: 50%;
    color: #4185f3;
    
}

.l1 {
    animation: slideL 1s ease-out 3s forwards;
}

.l2 {
    animation: slideR 1s ease-out 3s forwards;
}

.r1 {
    animation: slideLR 1s ease-out 3s forwards;
}

.r2 {
    animation: slideRL 1s ease-out 3s forwards;
}
.m1 {
    animation: slideM 1s ease-out 3s forwards;

}



@keyframes sequential {
    0% {opacity:0;top:50%}
    50% {opacity: 0;top:50%;}
    100% {opacity:1;top: 50%;}

}

@keyframes slideL {
    0% {opacity: 0; top: 50%; transform: translateX(0%);}
    100% {opacity: 1; top: 50%; transform: translateX(150px) translateY(25px); }
}

@keyframes slideR {
    0% {opacity: 0; top: 50%; transform: translateX(0%);}
    100% {opacity: 1; top: 50%; transform: translateX(-150px) translateY(25px); }
}

@keyframes slideLR {
    0% {opacity: 0; top: 50%; transform: translateX(0%);}
    100% {opacity: 1; top: 50%; transform: translateX(-150px) translateY(150px); }
}

@keyframes slideRL {
    0% {opacity: 0; top: 50%; transform: translateX(0%);}
    100% {opacity: 1; top: 50%; transform: translateX(150px) translateY(150px); }
}

@keyframes slideM {
    0% {opacity: 0; top: 50%; transform: translateX(0%);}
    100% {opacity: 1; top: 50%; transform: translateX(0) translateY(250px); }
}


h1, p {
    text-align: center;
    color: #000000;
    font-style: italic;
    overflow: hidden
}