body {
    background-color: #1a1a1a;
    font-family: 'Orbitron',sans-serif;
}

.header {
    text-align: center;
    background-color: #ffffff;
    border: #339ef5;
    border-style: solid;
    border-radius: 50px;
}

.bubbles, .facebook, .instagram, .website {
    text-align: center;
    background-color: #ffffff;
    border: #339ef5;
    border-style: solid;
    border-radius: 40px;
    width: 450px;
    height: fit-content;
}


h1 {
    font-family: 'Orbitron',sans-serif;
    font-style: italic;
    font-size:50px;
    color: #339ef5;
    text-shadow: 3px 0 #096bdb;
}

h2, p, ul, li {
    font-family: 'Orbitron',sans-serif;
    font-style: italic;
    font-size:50px;
    font-style: italic;
    color: #339ef5;
    text-shadow: 3px 0 #000000;
}