body {
    background-color: black;
}

.animation {
    width: 20%; 
    top: 50%; 
    position: absolute; 
    left: 40%; 
    border-bottom: 5px solid rgb(31, 129, 228); 
    overflow: hidden; 
    animation: animate 2s linear forwards;    
}

@keyframes animate {
    0% { 
        width: 0px; 
        height: 0px; 
    } 

    30% { 
        width: 50px; 
        height: 0px; 
    } 

    60% { 
        width: 50px; 
        height: 80px; 
    } 
}

h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic;
    font-size:10px;
    color: white;
    text-shadow: 1px 0 #2d2d2d00;
}

h2, p, ul, li {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic;
    color: white;
}